<td>
	{{#link-to "course" course.id tagName="button" classNames="btn btn-default"}}
		View
	{{/link-to}}
</td>
<td>{{course.callsign}}</td>
<td>{{course.title}}</td>
<td>{{course.crn}}</td>
<td>{{course.semester}}</td>
<td>{{course.session}}</td>
