<td><a href="course/{{course.id}}"><button class="btn btn-default">View</button></a></td>
<td>{{course.callsign}}</td>
<td>{{course.title}}</td>
<td>{{course.crn}}</td>
<td>{{course.semester}}</td>
<td>{{course.session}}</td>
